.login-page{
   
    .login-img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
    &__details{
        width: 80%;
        .form-control {
            font-size: 15px;
            padding: 10px 20px;
        }
        .btn{
            padding: 10px 20px;
        }
    }
}